*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.nav{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(blue, tomato);

}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
nav ul li{
    display: inline-block;
    padding: 10px 5px;
    color:cornsilk;
}
.ligoname{
color:white;
font-size: 35px;
}
spam{
    color: #f9004d;   
}
#a, a{
    font-weight: bold;
    text-decoration: none;
    list-style-type: none;
    color:cornsilk;
    font-size: 1.1rem;
	text-transform: capitalize;
    
}
#a:hover{
    background-color: red;
    border: 5px solid white;
    border-radius: 10px;
}
.button{
    font-weight: bold;
    background-color:#f9004d;
	color: white;
	text-decoration: none;
    border:5px solid transparent;
    border-radius: 5px;
    padding: 8px;
    transition: transform .4s;
}
 .button:hover{
	transform: scale(1.2);
}
.profile{
    position: absolute;
	top: 30%;
	left:8%;
	 
}
.my{
    font-size: 0.9rem;
    letter-spacing: 2px;
    font-weight: bold;
    color: rgb(193, 231, 128);
    margin-bottom: 15px;
}
.dev{
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 20px;
}
.form{
    position: relative;
   top: 65%;
   left:15%;
   width: 500px;
   max-width: 100%;
}
#email{
    width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	border-radius: 30px;
    box-shadow: 1px 1px 1px green;
}
#submit{
    position: absolute;
   border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: rgb(255, 4, 4);
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
	top: 6px;
	right: 7px; 
}
section{
    width: 100%;
    padding: 20px 0px;
    background-image: radial-gradient(blue,red);
    opacity: 0.8;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
.img{
    height: auto;
    width: 430px;
    box-shadow: 5px 5px 5px ;
    border-radius: 50%;
}
img{
    border-radius:50%;
    box-shadow: 2px 2px 2px green;
}
.text{
    width: 550px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-arround;

}
.text h1{
    color: white;
    letter-spacing: 3px;
    font-size: 160px;
    font-weight: bold;
    margin-bottom: 25px;
    text-transform: capitalize;

}
.text h4{
    color: white;
    letter-spacing: 3px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px; 
    text-transform: capitalize; 
}
.text p{
    color:cornsilk;
    letter-spacing: 1px;
   font-size: 15px;
    font-weight: bold;
    margin-bottom: 25px;
    line-height: 18px;  
    text-transform: capitalize;
}
.m{
    display: flex;
    align-items: center;
    justify-content: center;
}
#button1{
    background-color: red;
    color: white;
    width: 100px;
    border: 2px solid white;
    border-radius:30px;
    transition: .4s;
    font-weight: bold;
    padding: 10px;
    

}
#button1:hover{
    background-color: transparent;
    border: 2px solid green;
    cursor:pointer;
}
.service{
    background-image:radial-gradient(rgb(99, 99, 239), tomato);
    width: 100%;
   padding: 100px 0px;
}
.b{
    margin: auto;
    text-align: center;
    color: white;
    font-size: 75px;
    width: 1130px;
    text-shadow: 5px 5px 5px black;
}
.boxe{
display: flex;
justify-content: center;
align-items: center;
min-height: 350px;
}
.card{
    height: 400px;
    width: 460px;
    padding: 20px 40px;
    background-image: radial-gradient(red,black);
border-radius: 20px;
margin: 10px;
border: 5px solid white;
align-items: centre;
overflow: hidden;
position: relative;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #00f936;

}
h5{
    color: white;
    font-size: 25px;
    margin-bottom: 15px;
}
.pra p{
    color: pink;
    font-size: 1.1rem;
    line-height: 29px;
    margin-bottom: 20px;
}
.bt{
    background-color: green;
    width: 250px;
    color:white;
    padding: 5px;
    font-size: 15px;
border-radius: 10px;
border: 4px solid cornsilk;
}
.bt:hover{
    background-color: transparent;
}
.contact{
    width: 100%;
    height: 250px;
    background-image:radial-gradient(rgb(20, 20, 243), rgb(206, 53, 26));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact p{
    color: white;
    font-size:30px ;
    font-weight: bold;
    margin-bottom:35px;
    text-shadow: 5px 5px 5px black;
}
.pp{
    background-color: red;
color: white;
text-decoration: none;
border: 4px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
}
.pp:hover{
    background-color: transparent;
}
footer
{
position: relative;
    width: 100%;
    height:700px;
    background-image:radial-gradient(rgb(99, 99, 239), rgb(152, 34, 14));
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}